<!-- This Page is a Form for Updating Products -->
<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Update Product Form</title>
		</head>
	<body>

		<h1>Update Product</h1>
		<br>

		<form action="/product/update/<%= product[0].id_product %>" method="post">
			<label>Título</label>
			<br>
			<input type="text" id="title" name="title" value="<%= product[0].title %>" placeholder="Product Title"/>
			<br><br>
			<label >Description</label>
			<br>
			<textarea id="description" name="description" rows='5' cols="30" ><%= product[0].description %></textarea>
			<br>
			<label>Price</label>
			<br>
			<input type="number" id="price" name="price" step=".01" value="<%= product[0].price %>" placeholder="Product Price"/>
			<br><br>
			<label>Category</label>
			<br>
			<input type="text" id="category" name="category" value="<%= product[0].category %>" placeholder="Product Category"/>
			<br><br>
			<input type="submit" value="Enviar"/>
		</form>

	</body>
</html>